{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/units_form.css' %}">
    <div class="flex-container">
        <div>
            <h3>Add Solid Unit</h3>
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form1|crispy }}
                <button type="submit" name="add_solid" class="btn btn-success">Add Solid Unit</button>
            </form>
        </div>
         <div>
            <h3>Add Liquid Unit</h3>
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form2|crispy }}
                <button type="submit" name="add_liquid" class="btn btn-success">Add Liquid Unit</button>
            </form>
        </div>
    </div>
{% endblock %}