{% extends 'base.html' %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block body %}
    <label for="product">Składniki</label>
    <input type="text" name="product" id="product" placeholder="Type ingredient here ...">

<button type="submit" class="btn btn-success" id="button">Wyszukaj przepis</button>

<ul id="results"></ul>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

    $(function () {
        let selected = [];

        $("#product").autocomplete({
            source: '{% url 'autocomplete' %}',
            minLength: 1,
            select: function (event, ui) { //item selected
                selected.push(ui.item.value);
                console.log(selected);
                $("#results").append('<li>'+ui.item.value+'</li>');
                $(this).val("");
                return false;
            }
        });

        $("#button").click(function (){
            $.ajaxSetup({
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                     break;
                                 }
                             }
                         }
                         return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 }
            });
            $.ajax({
                type: 'POST',
                url: "{% url 'filterrecipes' %}",
                data: {
                    content: selected,
                    csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val()
                },
                success: function(response){
                    console.log('Success');
                },
            }).done(function (data) 
            {
                if (data.success) 
                {
                    window.location.href = data.url;
                }    
            });
        }
        );
    });
</script>
{% endblock %}

