{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/ingredient_list.css' %}">
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Option</th>
    </tr>
    {% for ingredient in ingredients %}
        <tr>
        <td>{{ ingredient.id }}</td>
        <td>{{ ingredient.name }}</td>
        <td> {{ ingredient.price }}$</td>
        <td><button type="button" class="btn btn-secondary" onclick="window.location='{% url 'ingredient-edit' ingredient_id=ingredient.id %}'">Edit</button></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}