{% extends 'base.html' %}
{% block body %}

    <div class="main-body">

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://cdn1.iconfinder.com/data/icons/user-avatars/57/cook-512.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{ user.username }}</h4>
{#                        <p class="text-secondary">{{ user.email }}</p>#}
                        {% if role == 'cook' %}
                        <p class="text-secondary">Kucharz</p>
                        {% else %}
                        <p class="text-secondary">Użytkownik</p>
                        {% endif %}
                        <p class="text-muted font-size-sm">Data dołączenia: {{ join_date }}</p>
                        <input type="button" class="btn btn-primary" onclick="location.href='{% url 'updateProfile' %}'" value="Edytuj profil" />

                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-light"><a class="nav-link" href="{% url 'user-recipes' %}">Stworzone przez ciebie</a></li>
                    <li class="list-group-item list-group-item-light"><a class="nav-link" href="{% url 'recipe-add' %}">Dodaj nowy przepis</a></li>
                    <li class="list-group-item list-group-item-light"><a class="nav-link" style="color: #ff0000" href="{% url 'deleteProfile' %}">Usuń konto</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Imię</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ first_name }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nazwisko</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ last_name }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ user.email }}
                    </div>
                  </div>
                    {% if role == 'cook' %}
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Aktualna praca</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ job }}
                    </div>
                  </div>
                    {% endif %}
                </div>
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">O mnie</i></h6>
                      <p>{{ about_me }}</p>
                    </div>
                  </div>
                </div>
                  <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Statystyki</i></h6>
                      <hr>
                      <div class="row">
                        <div class="col-sm-7">
                          <h6 class="mb-0" style="display: flex;align-items: center;">
                              <i class="far fa-plus-square fa-2x"></i></i><span style="margin-left: 1rem;">Dodanych przepisów:</span>
                          </h6>
                        </div>
                        <div class="col-sm-3 text-secondary" style="margin-left: auto;display: flex;align-items: center;">
                            {{ stats.recipes_num }}
                        </div>
                      </div>

                        <hr>
                      <div class="row">
                        <div class="col-sm-7">
                          <h6 class="mb-0" style="display: flex;align-items: center;">
                              <i class="far fa-comment fa-2x"></i></i><span style="margin-left: 1rem;">Dodanych komentarzy:</span>
                          </h6>
                        </div>
                        <div class="col-sm-3 text-secondary" style="margin-left: auto;display: flex;align-items: center;">
                            {{ stats.comments_num }}
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
            </div>
          </div>
        </div>


{% endblock %}