{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
{% load static %}

<div class="container row" style="margin-left: 1px">
    <a class="btn btn-primary" href="{% url 'recipe_delete' recipe_id=recipe.id %}" role="button">Delete</a>
    <a class="btn btn-primary" href="{% url 'recipe_edit' recipe_id=recipe.id %}" role="button">Update</a>
    <div class="col-md-4 bg-primary text-white"><h3>Name:</h3></div>
    <div class="col-md-4 bg-primary text-white"><h3>Added:</h3></div>
    <div class="col-md-4 bg-primary text-white"><h3>Author:</h3></div>
    <div class="col-md-4 bg-light border-bottom"><h3> {{ recipe.name }}</h3></div>
    <div class="col-md-4 bg-light border-bottom"><h3> {{ recipe.add_date }}</h3></div>
    <div class="col-md-4 bg-light border-bottom"><h3> {{ recipe.author }}</h3></div>
    <div class="col-md-12 bg-light border-bottom"><h3> Description:</h3><p> {{ recipe.author }} </p></div>
    <div class="col-md-12 bg-light border-bottom"><h3> Ingredients:</h3></div>
    <ul class="list-group bg-light list-group-flush">
      {% for ingredient in recipe.ingredients.all %}
              <li class="list-group-item bg-light"> - {{ ingredient.name }} Carbohydrate: {{ ingredient.carbohydrate }} Protein: {{ ingredient.protein }} Fat: {{ ingredient.fat }} Energy: {{ ingredient.energy }} Price: {{ ingredient.price }}</li>
      {% endfor %}
    </ul>
</div>
{% endblock %}