{% extends 'base.html' %}
{% block body %}
    <div align="center">
        <form method="post">{% csrf_token %}
          <div class="mb-3 col-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="mb-3 col-2">
            <label for="username" class="form-label">Nazwa użytkownika</label>
            <input type="username" class="form-control" id="username" aria-describedby="emailHelp">
          </div>
          <div class="mb-3 col-2">
            <label for="password" class="form-label">Hasło</label>
            <input type="password" class="form-control" id="password">
          </div>
          <button type="submit" class="btn btn-primary">Potwierdź</button>
        </form>
    </div>
{% endblock %}